---
import Layout from "../../layouts/Layout.astro";
import { SignIn } from "@clerk/astro/components";
import LogoRocket from "../../../public/logo-rocket.svg";
---

<Layout 
  title="Iniciar Sesion - Twick"
  description="Inicia sesion en Twick para acceder a tu panel de control y simular chat de Twitch/Kick."
  noindex={true}
>
  <main class="min-h-screen flex items-center justify-center p-4" role="main">
    <article class="w-full max-w-min">
      <header class="text-center pb-4">
        <a href="/" aria-label="Volver a la pagina principal">
          <LogoRocket class="w-20 h-20 mx-auto mb-4" aria-hidden="true" />
        </a>
        <h1 class="text-6xl md:text-3xl font-rocket">Twick</h1>
      </header>
      <SignIn />
    </article>
  </main>
</Layout>
