---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import DemoVideoSection from "../components/DemoVideoSection.astro";
import HowItWorksSection from "../components/HowItWorksSection.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import FinalCtaSection from "../components/FinalCtaSection.astro";

---

<Layout
  title="Twick: Simulador de Chat para Streamers con IA"
  description="Simulador de chat con IA, configura una audiencia para tu tema o videojuego favorito, compatible con overlay de OBS y 7TV"
  type="website"
>
  <main role="main">
    <HeroSection />
    <DemoVideoSection />
    <HowItWorksSection />
    <FeaturesSection />
    <FinalCtaSection />
  </main>
</Layout>
