<!-- +  -->
<div class="absolute inset-y-0 right-9">
  <div class="flex justify-between items-end right-10 flex-col h-full">
    <div class="">
      <div class="absolute w-px h-6 bg-black dark:bg-white/50"></div>
      <div class="w-px h-6 bg-black dark:bg-white/50 rotate-90"></div>
    </div>
    <div class="">
      <div class="absolute w-px h-6 bg-black dark:bg-white/50"></div>
      <div class="w-px h-6 bg-black dark:bg-white/50 rotate-90"></div>
    </div>
    <div class="">
      <div class="absolute w-px h-6 bg-black dark:bg-white/50"></div>
      <div class="w-px h-6 bg-black dark:bg-white/50 rotate-90"></div>
    </div>
    <div class="">
      <div class="absolute w-px h-6 bg-black dark:bg-white/50"></div>
      <div class="w-px h-6 bg-black dark:bg-white/50 rotate-90"></div>
    </div>
  </div>
</div>
